.example-spacer {
    flex: 1 1 auto;
  }

  .mat-button.mat-success,
.mat-stroked-button.mat-success {
  color: #f0fff3;
  background-color: hsl(134, 93%, 35%);
}
.mat-card {
  background: rgb(208, 240, 252);
  color: rgba(0, 0, 0, 0.87);
  margin: 5px;
}
.text-inside-grid {
  position: absolute;
  left: 5px;
}


.customIconSize {
  font-size: 50px;
  height: 50px ;
  width: 50px ;
  color: rgb(131, 198, 239);
}